:host {
  display: block;
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  z-index: 2;
  font-size: large;
  background-color: #f7f9f9;
  padding-left: 20px;

  a {
    color: #337ab7;
    text-decoration: none;
  }
}
